html
{
	min-height: 100%;
}

body
{
	min-height: 100%;
}

#homepage-body
{
	margin: 0px;
	background-image: linear-gradient(to bottom, #3270B0, #0E2742);
}

#page-body
{
	margin: 0px;
	background-image: linear-gradient(to bottom, #FDFDFD, #B1B1B1);
}

#homepage-body section
{
	margin-top: 1px;
	text-align: center;
}

#homepage-body section > div
{
	margin: auto;
}

.title
{
	color: white;
}

.title-1
{
	margin-bottom: 0px;
	font-size: 60px;
	text-shadow: 2px 2px 2px black;
}

.title-2
{
	font-size: 40px;
	text-shadow: 2px 2px 2px black;
}

.title-3
{
	padding-top: 10px;
	padding-bottom: 30px;
	text-shadow: 1px 1px 2px black;
}

.title-4
{
	font-weight: bold;
}

.title-section
{
	padding: 10px;
}

.title-section a
{
	font-weight: bold;
	color: grey;
	text-decoration: none;
}

.title-section a:hover
{
	text-decoration: underline;
}

#home-signup-form table, #full-page-box table, #home-gal-list table
{
	margin: auto;
}

#signup-form table
{
	margin: auto 30px auto 30px;
}

#home-signup-form input
{
	margin: 5px;
	border-radius: 5px;
	width: 10em;
	font-size: 1.4em;
	font-weight: lighter;
	padding: 5px 2px 5px 2px;
	border: 1px solid #0E4984;
	box-shadow: 0px 0px 1px black;
}

.submit-button
{
	background-color: #1E9DDE;
	border: thin;
	box-shadow: 0px 0px 2px black;
	color: white;
	text-shadow: 0px 0px 1px #146592;
}

.submit-button:hover
{
	background-color: #0E8DCE;
}

#page-body section
{
	text-align: center;
}

#signup-form, #account-box
{
	margin-top: 10%;
}

.box
{
	background-color: white;
	border-radius: 5px;
	padding: 0px;
	display: inline-block;
	padding: 10px 20px 20px 10px;
	text-align: left;
	box-shadow: 2px 2px 2px black;
	border: thin solid grey;
}

.error
{
	color: red;
}

.section
{
	margin: 15px 5px 15px 5px;
}

#full-page-box
{
	width: 90%;
}

#home-gal-list, #med-box
{
	width: 70%;
}

#med-box table
{
	margin: auto;
}

.gallerie-preview
{
	border-spacing: 10px;
}

.gallerie-preview-cell
{
	text-align: center;
	width: 200px;
	height: 200px;
	margin: 10px 0px 10px 0px;
}

.add-link
{
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
	padding-top: 30px;
}
