footer
{
	width: 100%;
	text-align: center;
}

#homepage-body footer
{
	position: absolute;
	bottom: 0px;
}

footer nav *
{
	display: inline;
	color: white;
	text-shadow: 0px 0px 1px black;
	padding: 0px 5px 0px 2px;
}
