header
{
	width: 100%;
	background-color: #205081;
	color: white;
	box-shadow: 0px 1px 1px black;
	padding: 10px 0px 10px 0px;
	margin-bottom: 10px;
	min-height: 30px;
}

header > div
{
	width: 80%;
	margin: auto;
}

#header-left, #header-right
{
	display: inline;
}

#header-right a
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#header-left a
{
	color: White;
	text-decoration: none;
	font-weight: bold;
}

#header-left a:hover
{
	color: black;
}

#login-link
{
	margin-right: 12px;
}

#login-link:hover
{
	text-decoration: underline;
}

#header-right
{
	float: right;
}

#signup-link
{
	text-decoration: none;
	border-radius: 5px;
	background-color: #1E9DDE;
	box-shadow: 0px 1px 1px 1px black;
	display: inline-block;
	padding: 7px;
}

#signup-link:hover
{
	background-color: #0E8DCE;
}

#logo
{
	font-size: 1.3em;
	margin-right: 15px;
	color: black;
	font-weight: bolder;
}

.menu
{
	display: inline-block;
}

#submenu
{
	background-color: rgb(25, 32, 65);
	text-align: center;
	border-radius: 7px;
}

#submenu li
{
	margin: 7px 2px 7px 2px;
}
