	<footer>
		<nav>
			<h5>Copyleft aucun droits r&eacute;serv&eacute;s</h5>
			<h5>.</h5>
			<h5>Cr&eacute;&eacute; avec <a href="http://www.vim.org">Vim</a></h5>
			<h5>.</h5>
			<h5><a href="#">Politique de confidentialit&eacute;</a></h5>
		</nav>
	</footer>
