<section>
<div>
	<div class="title">
		<h1 class="title-1">Partagez vos photos</h1>
		<br>
		<h3 class="title-3">Espace + galeries illimités</h3>
	</div>
	<div id="home-signup-form">
		<form action="admin/do_signup.php" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<td><input type="text" name="email" placeholder="E-mail"></td>
				</tr>
				<tr>
					<td><input type="text" name="login" placeholder="Identifiant"></td>
				</tr>
				<tr>
					<td><input type="password" name="password"
						placeholder="Mot de passe"></td>
				</tr>
				<tr>
					<td><input type="number" name="age" min="0"
						step="1" placeholder="Âge"></td>
				</tr>
				<tr>
					<td><input class="submit-button" type="submit" value="s'inscrire"></td>
				</tr>
			</table>
		</form>
	</div>
</div>
</section>
